h1{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 100px;
}
h2{
    text-align: center;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

}